MEMORY {
  ZP:           start = $0000, size = $0100, type = rw;
  INPUT_BUFFER: start = $0300, size = $0100, type = rw, file = "";
  RAM:          start = $0400, size = $3C00, type = rw, file = "";
  BASROM:       start = $8000, size = $6000, fill = yes, file = %O;
  # ROM for Krusader code
  DDOS_ROM:     start = $E000, size = $1000, fill = yes, file = %O;
  KRUSADER:     start = $F000, size = $0F00, fill = yes, file = %O;
  # ROM for Wozniak Monitor
  WOZMON:       start = $FF00, size = $FA,   fill = yes, file = %O;
  # ROM for Reset Vectors
  RESETVEC:     start = $FFFA, size = 6,     fill = yes, file = %O;
  DUMMY:        start = $0000, size = $00FF, file = "";
}

SEGMENTS {
  ZEROPAGE:     load = ZP, type = zp;
  INPUT_BUFFER: load = INPUT_BUFFER, type = rw;
  BSS:          load = RAM, type = bss, define = yes;
  HEADER:       load = BASROM,	type = ro;
  VECTORS:      load = BASROM,	type = ro;
  KEYWORDS:     load = BASROM,	type = ro;
  ERROR:        load = BASROM,	type = ro;
  CODE:	        load = BASROM,	type = ro;
  CHRGET:       load = BASROM,	type = ro;
  INIT:	        load = BASROM,	type = ro;
  EXTRA:        load = BASROM,	type = ro;
  DUMMY:        load = DUMMY; # don't include

  BIOS:         load = BASROM, type = ro;
  
  # New segment for our shell, which we are calling DDOS
  DDOS:         load = DDOS_ROM, type = ro, start = $E000;

  # A KRUSADER segment is defined as requested, for future use.
  # To use it, add `.segment "KRUSADER"` to the assembly source.
  KRUSADER:     load = KRUSADER, type = ro, start = $F000;

  # The WOZMON code from the assembly file will be placed here due to `.ORG $FF00`.
  WOZMON:       load = WOZMON,   type = ro, start = $FF00;
  OUTHEX:       load = WOZMON,   type = ro, start = $FFDC;
  
  RESETVEC:     load = RESETVEC, type = ro, start = $FFFA;
}
