MEMORY {
    ZP:     start = $0000, size = $0100, type = rw, file = "";
    # RAM shell loads at $1000. Ends at $4000 (Hardware Limit)
    RAM:    start = $1000, size = $3000, type = rw, file = %O;
}

SEGMENTS {
    ZEROPAGE: load = ZP,  type = zp,  optional = yes;
    # Shell code goes into DDOS segment, fixed at start of RAM
    DDOS:     load = RAM, type = ro, start = $1000;
    # Library code follows
    CODE:     load = RAM, type = ro;
    # Variables follow code
    BSS:      load = RAM, type = bss, define = yes;
}