MEMORY {
    # Zero Page: $0000-$00FF
    ZP:           start = $0000, size = $0100, type = rw, define = yes;
    # Input Buffer: $0300-$03FF (Matches eater.cfg)
    INPUT_BUFFER: start = $0300, size = $0100, type = rw;
    # RAM: $1000-$3FFF (Shell loads at $1000, top at $4000)
    RAM:          start = $1000, size = $3000, type = rw, file = %O;
}

SEGMENTS {
    ZEROPAGE:     load = ZP,           type = zp;
    INPUT_BUFFER: load = INPUT_BUFFER, type = rw,  optional = yes;
    CMD_SHELL:    load = RAM,          type = ro;
    CODE:         load = RAM,          type = ro;
    DATA:         load = RAM,          type = rw;
    BSS:          load = RAM,          type = bss, define = yes;
}