# Linker configuration for transient programs

MEMORY {
    ZP:     start = $0000, size = $0100, type = rw, file = "";
    # RAM starts at $07FE so that the 2-byte HEADER is at $07FE-$07FF
    # and the CODE naturally starts at $0700.
    RAM:    start = $07FE, size = $3802, type = rw, file = %O;
}
SEGMENTS {
    ZEROPAGE: load = ZP,  type = zp,  optional = yes;
    HEADER:   load = RAM, type = ro, start = $07FE, optional = yes;
    CODE:     load = RAM, type = ro, start = $0800, optional = yes;
    RODATA:   load = RAM, type = ro,  optional = yes;
    DATA:     load = RAM, type = rw,  optional = yes;
    BSS:      load = RAM, type = bss, define = yes;
}
